.custom-file-label::after {
    content: "Examinar"
}

.cke_chrome {
    border: 1px solid #ced4da !important;
    box-shadow: unset !important;
}

.bootstrap-tagsinput {
    width: 100%;
}

.label-info {
    background-color: #0095c8;
}