@import url(https://fonts.googleapis.com/css?family=Nunito);.custom-file-label::after {
  content: "Examinar";
}

.cke_chrome {
  border: 1px solid #ced4da !important;
  box-shadow: unset !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

